[database]
COUCHDB_URL = 
COUCHDB_SCANNER_NAME = 
COUCHDB_SCANNER_HISTORICAL_NAME = 

[scanner]
IP_SCAN_RANGE = 
HOST_IDLE_THRESHOLD_MINUTES = 
SCAN_HEARTBEAT_SECONDS = 
HOST_IDLE_FOR_PING_MINUTES = 
